<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133744040783-5c7ilm3dc4peuumck2gp7167u7t2s5mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133744040783-5c7ilm3dc4peuumck2gp7167u7t2s5mb</string>
	<key>API_KEY</key>
	<string>AIzaSyABapD7dxnFWlx2OsinxafzTB_KI0M0_0M</string>
	<key>GCM_SENDER_ID</key>
	<string>133744040783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>msys.GeofenceCaseStudy</string>
	<key>PROJECT_ID</key>
	<string>geofencecasestudy-a79fe</string>
	<key>STORAGE_BUCKET</key>
	<string>geofencecasestudy-a79fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133744040783:ios:11489d7c1a3a70c606c33a</string>
</dict>
</plist>